<div class="app-body" [ngClass]="{'layout-dark': dark}" style="min-height: 100%;">

    <div class="card">
        <p-table [value]="apps" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nickname</th>
                    <th>Destination</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-a>
                <tr>
                    <td><input type="text" pInputText [(ngModel)]="a.nickname" /> <p-button [disabled]="a.nickname == app.nickname" (click)="this.update_nickname(a.nickname)" icon="pi pi-check"></p-button></td>
                    <td><input type="text" disabled pInputText [(ngModel)]="a.destination" /><p-button type="text" (click)="this.update_destination()" label="Select"></p-button></td>
                </tr>
            </ng-template>
        </p-table>
        <p-accordion [activeIndex]="-1">
            <p-accordionTab header="My shared directories">
                <p-table [value]="this.app?.shared_directories" sortField="name" sortMode="single" dataKey="name" rowGroupMode="subheader"
                groupRowsBy="name" [tableStyle]="{'min-width': '40rem'}">
                <!-- <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Found Shares
                        <p-button icon="pi pi-sync" severity="info" [hidden]="!this.app.shared_directories"></p-button>
                    </div>
                </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>
                        <th>Path</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-dir>
                    <tr>
                        <td>
                            {{dir.name}}
                        </td>
                        <td>
                            <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true"></p-button>                        
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-right justify-content-between"  *ngIf="this.app.shared_directories.length < 1">
                    Nothing shared.
                    </div>
                    <div>
                        <p-button icon="pi pi-plus" (click)="this.add_shared_dir()" [rounded]="true" severity="success" [outlined]="false"></p-button>
                    </div>
                </ng-template>
            </p-table>
            
        </p-accordionTab>
    </p-accordion>
    </div>


        <div class="card">
            <p-table [value]="sources" sortField="name" sortMode="single" dataKey="name" rowGroupMode="subheader"
                groupRowsBy="name" [tableStyle]="{'min-width': '40rem'}">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Found Shares
                        <p-button icon="pi pi-sync" severity="info" [hidden]="!this.new_sources" (click)="update_sources()"></p-button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Nickname</th>
                        <th>ID</th>
                        <th>IP</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="groupheader" let-source let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr>
                        <td colspan="5">
                            <button type="button" pButton pRipple [pRowToggler]="source"
                                class="p-button-text p-button-rounded p-button-plain mr-2"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            <span class="font-bold ml-2">{{source.name}}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-source>
                    <tr>
                        <td>
                        </td>
                        <td>
                            {{source.nickname}}
                        </td>
                        <td>
                            {{source.id}}
                        </td>
                        <td>
                            {{source.ip}}
                        </td>
                        <td>
                            <button (click)="request_dir(source.id, source.name)">Download</button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between"  *ngIf="!this.sources">
                        Nothing to see here.
                    </div>
                </ng-template>
            </p-table>
        </div>
</div>